

footer {
    padding: 4vw 5vw 0.8vw; 
}   


.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.footer_container p {
    line-height: 1.5rem;
    font-size: 1.5vw;
}


.footer_infocontainer p:nth-child(2) {
    font-size: 1.3vw;
}


.footer_iconscontainer {
    display: flex;
    align-items:center;
    gap: 0.4rem;
}


.footer_iconscontainer img {
    height: 1.4rem;      
}