

footer {
    height: 100px;
    padding-bottom: 10px;
    background: linear-gradient(90deg, #3B061E 35%, #660033 100%);
    color: #ffff;
    display: flex;
    align-items: flex-end;
}

.footer_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.footer_iconscontainer {
    display: flex;
    align-items:center;
    gap: 5px;
}

.footer_iconscontainer img {
    width: 2rem;   
    
}
