.form_insc form {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
 
}

.insc_cc_dn {
    /* display: flex;
    flex: wrap;
    width: 100%;
    margin: auto 0; */
    
}