header {
    padding: 1.3vw 5vw 1vw 5vw;    
}


header h1 img {
    width: 11vw;    
}


header nav {
    height: 100%;
    display: flex;
    align-items:flex-end;
    padding-bottom: 1vw;   
}


.header_icon {
    height: 1.2rem;
    margin-right: 0.25rem;
}


nav li {
    list-style: none;
    display: inline;
    margin-right: 0.9rem;
    font-family:'Roboto Slab', serif; 
    font-weight: 400;
    font-size: 1.7vw;
    
}


.nav_link:link, .nav_link:visited {
    color: #ffffff; 
    text-decoration: none;
}


.nav_link:hover {
    color: #dbc77d;
}


.nav_link:active {
    color: #3B061E;
}


.shopcard {
    height: 1.2rem;
    margin-left: 0.8rem;
}


/* @media screen and (min-width: 490px) {
} */