header {
    display: grid;  
    grid-template-columns: 1fr;
    background: linear-gradient( 90deg, #3B061E 35%, #660033 100% );
    color: #ffff;
    
    padding: 1.3vw 5vw 1vw 5vw;    
}


.header_container {   
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
}


h1 img {
    width: 11vw;    
}


nav {
    height: 100%;
    display: flex;
    align-items:flex-end;
    padding-bottom: 0.5rem;   
}


.header_icon {
    height: 1.2rem;
    margin-right: 4px;
}


nav ul li {
    list-style: none;
    display: inline;
    margin-right: 15px;
    font-family:'Roboto Slab', serif; 
    font-weight: 400;
}


.nav_link:link, .nav_link:visited {
    color: #fff;
    font-size: 1.5vw; 
    text-decoration: none;
}


.nav_link:hover {
    color: #dbc77d;
}


.nav_link:active {
    color: #3B061E;
}


.shopcard {
    height: 1.2rem;
    margin-left: 20px;
    line-height: 0;
}