.btn {
    background-color: #3B061E;
}


.btn_txt {
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
    margin-top: 0.8rem;
}


.home_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.home_info .btn {
    background-color: #3B061E;
}

.home_info .btn:hover {
    background-color: #a0034a;      
}


.home_articles {
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 2vw; 
    margin-bottom: 2vw;   
}


.home_article {
    background-color: #660033;
}

.home_article img {
    width: 100%;    
}

.home_article img, .home_article h2 {
    cursor: pointer;
}


.home_article h2 {
    font-size: 3.5vw;
    text-align:left;    
}


.home_article p {
    font-size: 1.8vw;
}


.home_article:nth-child(1) {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
}


.home_article:nth-child(1) img {
    height: 100%;   
}


.home_article:nth-child(n+2) {
    text-align: center;
}


.home_article:nth-child(n+2) h2 {
    text-align: center;
    font-size: 2.5vw;
    line-height: 1.2rem; 
}
    

.home_article:nth-child(n+2) div div {  
    display: none; 
}


.home_articletxt {
    padding: 1rem;   
}


.home_article:nth-child(n+2) .home_articletxt {  
    padding: 0.9vw;
}

.home_pub .img_2 {
    display: none;
}

.home_pub {
    position: relative;
    width: 100%;
    margin: 3.5vw 0;        
}


.home_pub img {
    width: 100%;
         
}


.home_pub .btn {
    position: absolute;
    top: 1.3vw;
    right: 1.3vw;
    background-color: #ff0000;
}


.home_store .btn_linkstore {
    display: flex;
    justify-content: center;  
}

.home_store .btn:hover {
    background-color: #a0034a;    
}


.home_store > div {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2vw;
}


.home_products {  
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;    
}


.home_products::-webkit-scrollbar {
    display: none;   
}


.home_prod {
    margin-right: 0.8vw;
    background-color: #660033;
    text-align: center;     
}


.home_prod:last-child {
    margin: 0;
}


.home_prod img {
    width: 30vw;
    cursor: pointer;
}


.home_prodinfo {  
    padding: 0.5vw;
}

.home_prodinfo h2, p {  
    font-family:'Roboto Serif', serif;
    font-size: 1.5vw; 
    font-weight: 300;
    line-height: 1.3rem;
}

.home_prodinfo p {  
    font-size: 1.7vw;
    font-weight: 600;
    font-style: italic;
}

.home_store button {
    position: absolute;
}

.btn_left {
    background: url("/public/images/outros/circle-arrow-left-solid.svg");
    opacity: 0.4;
    width: 4.2vw;
    height: 4.2vw;
    border: none;
	cursor: pointer;
    left: 0.5vw;
}

.btn_right {
    background: url("/public/images/outros/circle-arrow-right-solid.svg");
    opacity: 0.4;
    width: 4.2vw;
    height: 4.2vw;
    border: none;
	cursor: pointer;
    right: 0.5vw;   
}


@media screen and (max-width: 820px) {

    .home_articles {
        display: block;
        gap: 2vw; 
        margin-bottom: 2vw;   
    }


    .home_article {
        margin-bottom: calc(0.1rem + 1vw);
    }

    .home_article:last-child {
        margin-bottom: 0;
    }

    .home_article:nth-child(1){
        display: block;        
    }

    .home_article:nth-child(n+2) img {
        display: none; 
    } 

    .home_articlemd:nth-child(n+2) img {
        display: block;
    }


    .home_article:nth-child(2) div {
        background-color: #3B061E;    
    }

    .home_pub .img_1 {
        display: none;
    }

    .home_pub .img_2 {
        display: block;
    }

   
}

@media screen and (max-width: 420px) {




}




 

