/*  border: 1px solid red;  

FONTES (Google Fonts):

Roboto Serif 
font-family: 'Roboto Serif', serif;
[ GERAL 300 + BTN/LKS 600 italic ]

Roboto Slab
font-family: 'Roboto Slab', serif;
[ NAV 400 / TITULOS 700 ] 
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100vw;
   
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* »»»»»»»»»»»»»»»»»»»»»»»»»»»»»R»»E»»S»»E»»T»»»»»»»»»»»»»»»»»»»»»»»»»»»»» */


html {
    background-color: #eeeeee;
    font-family: 'Roboto Serif', serif;
}


body {
    width: 100%;
    box-sizing: border-box;
}


header, footer {
    display: grid;  
    grid-template-columns: 1fr;
    background: linear-gradient( 90deg, #3B061E 35%, #660033 100% ); 
}


.hdrftr_cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


main {
    margin: 5vw 5vw 15vw 5vw;
}

/* @media screen and (min-width: 1200px) {
    main {
        margin: 15vw 15vw 45vw 15vw;
    }
} */

::-webkit-scrollbar {
    width: 1.5vw;   
}
   
::-webkit-scrollbar-track {
    background: #8888;       
}
    
::-webkit-scrollbar-thumb {
    background: #a0034a; 
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #3B061E;
}



h2, h3 {
    font-family:'Roboto Slab', serif; 
    font-weight: 700;
    line-height: 2.6rem;    
}
 

p, div, .btn {
    font-family: 'Roboto Serif', serif;
    font-weight: 300;
    color: #ffffff;   
}  


p {
    line-height: 1.6rem;
}


.btn {
    font:initial;
    font-size: 1.6vw;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    padding: 0.5rem 1.8rem;
    cursor: pointer;
    border: none;
    border-radius: 0 0 1.1rem 1.1rem;   
}


.close_btn {
    background: url("/public/images/outros/circle-xmark-solid.svg");
    width: 100px;
    height: 100px;
    border: none;
	cursor: pointer;
}


.close_btn:hover {
    transform: scale(1.1);
}




