.close_btn {
    background: url("/public/images/outros/circle-xmark-solid.svg");
    width: 100px;
    height: 100px;
    border: none;
	cursor: pointer;
}

.close_btn:hover {
    transform: scale(1.1);
}