.article:hover {
    cursor:pointer;
}

.info_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.63rem 0.63rem;
}

.article img {
    width: 100%;
}

.article h2 {
    padding: 0.5rem;
    cursor: none;
    
}

.article {
    background-color: #660033;
    text-align: center;
}

.prod_info h2, p {  
    font-family:'Roboto Serif', serif;
    font-size: 1.15rem; 
    font-weight: 300;
    line-height: 1.3rem;
}

.prod_info p {  
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
}
